In [1]:
import pandas as pd

In [2]:
data = {
    'Age': [22, 25, 47, 52, 46, 56, 55, 60, 62, 61],
    'Income': [25000, 30000, 50000, 60000, 45000, 70000, 80000, 85000, 90000, 95000],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Buy': [0, 1, 0, 1, 0, 1, 1, 1, 0, 1]
}

df = pd.DataFrame(data)
df.head()

   Age  Income  Gender  Buy
0   22   25000  Female    0
1   25   30000    Male    1
2   47   50000    Male    0
3   52   60000  Female    1
4   46   45000  Female    0

In [3]:
df['Gender'] = df['Gender'].map({'Female': 0, 'Male': 1})

In [4]:
df.head()

   Age  Income  Gender  Buy
0   22   25000       0    0
1   25   30000       1    1
2   47   50000       1    0
3   52   60000       0    1
4   46   45000       0    0

In [7]:
input = df.drop('Buy',axis='columns')
target = df['Buy']

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
x_train ,x_test ,y_train,y_test = train_test_split(input,target,test_size=0.2)

In [13]:
from sklearn import tree

In [14]:
model = tree.DecisionTreeClassifier()

In [15]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [16]:
model.score(x_train,y_train)

1.0

In [17]:
x_test

   Age  Income  Gender
9   61   95000       1
4   46   45000       0

In [18]:
y_test

9    1
4    0
Name: Buy, dtype: int64

In [35]:
 y = model.predict(x_train)
y

array([1, 1, 1, 1, 0, 0, 0, 1], dtype=int64)

In [27]:
y_train

7    1
1    1
5    1
6    1
2    0
8    0
0    0
3    1
Name: Buy, dtype: int64

In [28]:
y_pred = model.predict(x_test)

In [33]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train, y)

In [36]:
print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 100.00%