In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
input = df[['Pclass','Age','Sex','Fare']]

In [6]:
target=df['Survived']

In [7]:
input.isna().any()

Pclass    False
Age        True
Sex       False
Fare      False
dtype: bool

In [8]:
mean_age = df['Age'].mean()

In [11]:
input['Age_n'] = input['Age'].fillna(mean_age)

C:\Users\PMYLS\AppData\Local\Temp\ipykernel_12924\3492403106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Age_n'] = input['Age'].fillna(mean_age)

In [13]:
input.isna().any()

Pclass    False
Age        True
Sex       False
Fare      False
Age_n     False
dtype: bool

In [14]:
input.head()

   Pclass   Age     Sex     Fare  Age_n
0       3  22.0    male   7.2500   22.0
1       1  38.0  female  71.2833   38.0
2       3  26.0  female   7.9250   26.0
3       1  35.0  female  53.1000   35.0
4       3  35.0    male   8.0500   35.0

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le_Sex = LabelEncoder()

In [17]:
input['Sex_n'] = le_Sex.fit_transform(input['Sex'])

C:\Users\PMYLS\AppData\Local\Temp\ipykernel_12924\2371527853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Sex_n'] = le_Sex.fit_transform(input['Sex'])

In [19]:
input.head()

   Pclass   Age     Sex     Fare  Age_n  Sex_n
0       3  22.0    male   7.2500   22.0      1
1       1  38.0  female  71.2833   38.0      0
2       3  26.0  female   7.9250   26.0      0
3       1  35.0  female  53.1000   35.0      0
4       3  35.0    male   8.0500   35.0      1

In [37]:
input

     Pclass     Fare      Age_n  Sex_n
0         3   7.2500  22.000000      1
1         1  71.2833  38.000000      0
2         3   7.9250  26.000000      0
3         1  53.1000  35.000000      0
4         3   8.0500  35.000000      1
..      ...      ...        ...    ...
886       2  13.0000  27.000000      1
887       1  30.0000  19.000000      0
888       3  23.4500  29.699118      0
889       1  30.0000  26.000000      1
890       3   7.7500  32.000000      1

[891 rows x 4 columns]

In [27]:
from sklearn import tree

In [29]:
model = tree.DecisionTreeClassifier()

In [32]:
model.fit(input,target)

DecisionTreeClassifier()

In [33]:
model.score(input,target)

0.9797979797979798

In [34]:
input.head()

   Pclass     Fare  Age_n  Sex_n
0       3   7.2500   22.0      1
1       1  71.2833   38.0      0
2       3   7.9250   26.0      0
3       1  53.1000   35.0      0
4       3   8.0500   35.0      1

In [35]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [36]:
model.predict([[1	,71.2833,	38.0,0]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)